.interested-container {
	backdrop-filter: blur(8px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	display: grid;
	place-content: center;
}

.interested {
	background: rgb(255, 255, 255);
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
		rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	border-radius: 5px;
	border: 1px solid #d9d9d9;
	width: 400px;
}
.interested > p {
	text-align: center;
	font-size: var(--text-lg);
	font-weight: 600;
	color: #4b164c;
    margin-bottom: 10px;
}
.interested .form-btns {
	display: flex;
	flex-direction: column;
	gap: 10px;
    margin-top: 35px;
    margin-bottom: 10px;
}

.interested .form-btns button {
	border: none;
    background: #4b164c;
	color: white;
	font-size: var(--text-sm);
	font-weight: 400;
	width: 100%;
	border-radius: 5px;
	padding: 12px;
	white-space: nowrap;
	cursor: pointer;
}